<app-navbar></app-navbar>

<div style="padding: 25px;">
  <p style="font-weight: 600;">
    Hola soy
  </p>
  <!-- <div
    id="name"
    style="
      font-family: 'Kaushan Script', cursive;
      font-weight: 900;
      font-size: 3.5em;
    "
  >
    Nefi Lopez
  </div> -->
  <svg width="200" height="70">
    <!-- <rect id="frame" width="200" height="70" /> -->
    <path id="frame" d="M100,0 200,0 200,35" stroke="red" stroke-width="5" />
    <path id="frame" d="M100,0 0,0 0,35" stroke="red" stroke-width="5" />
    <path id="frame" d="M100,70, 0,70 0,35" stroke="red" stroke-width="5" />
    <path id="frame" d="M100,70 200,70 200,35" stroke="red" stroke-width="5" />
    <text
      x="50%"
      y="50%"
      id="name"
      dominant-baseline="middle"
      text-anchor="middle"
    >
      Nefi Lopez
    </text>
  </svg>
  <h3>Dejame contarte algo sobre mi</h3>
  <p>
    He trabajado por 13 años en áreas relacionadas con computadoras, desde
    soporte técnico, administrador de sistemas, hasta desarrollo de software.
  </p>
  <p>
    Desde corta edad siempre soñé hacer software, aquí estoy escribiendo código
    y es mi mayor pasión.
  </p>
  <div>
    <!-- <div class="div--getintouch" (click)="getInTouch()">
      CONTACTAME
    </div> -->
    <button class="button--getintouch" (click)="getInTouch()">
      CONTACTAME
    </button>
  </div>
</div>

<div style="padding: 25px;">
  <h2>Tecnologias</h2>

  <ul>
    <li>Node.js</li>
    <li>Angular</li>
    <li>Dart</li>
    <li>Flutter</li>
    <li>Nest.js</li>
    <li>Vanilla js</li>
    <li>Vue.js</li>
    <li>Golang</li>
    <li>PHP</li>
  </ul>

  <!-- <a href="#">Otros conocimientos</a> -->
</div>
<div>
  <h2>Experiencia Laboral</h2>
  <div>
    <div>
      <p>
        Calimax
      </p>
      <p>Desarrollador de Apps Web y Moviles</p>
      <p>2018 - 2020</p>
      <ul>
        <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</li>
        <li>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro
          laborum ducimus ex commodi harum.
        </li>
        <li>
          Dolorem quae iusto blanditiis, optio eos tempora, ipsum a, velit
          laborum numquam reprehenderit quia reiciendis ab.
        </li>
      </ul>
    </div>
    <div>
      <p>
        Calimax
      </p>
      <p>Desarrollador de Apps Web y Moviles</p>
      <p>2018 - 2020</p>
      <ul>
        <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</li>
        <li>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro
          laborum ducimus ex commodi harum.
        </li>
        <li>
          Dolorem quae iusto blanditiis, optio eos tempora, ipsum a, velit
          laborum numquam reprehenderit quia reiciendis ab.
        </li>
      </ul>
    </div>
    <div>
      <p>
        Calimax
      </p>
      <p>Desarrollador de Apps Web y Moviles</p>
      <p>2018 - 2020</p>
      <ul>
        <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</li>
        <li>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro
          laborum ducimus ex commodi harum.
        </li>
        <li>
          Dolorem quae iusto blanditiis, optio eos tempora, ipsum a, velit
          laborum numquam reprehenderit quia reiciendis ab.
        </li>
      </ul>
    </div>
  </div>
</div>
<div>
  <ul>
    <li>Twitter</li>
    <li>Linkedin</li>
    <li>Github</li>
    <li>Stackoverflow</li>
  </ul>
</div>
<div></div>
<div class="getintouch--screen">
  <h2 style="color: #1e1d2e;">Contactame</h2>
  <p (click)="closeGetInTouch()">Cerrar</p>
  <input type="text" />
</div>
