.frame-logo {

  stroke-width: 4;
  stroke: #ff6e6ecb;
  fill: none;
  stroke-width: 0;
}

.name-logo {
  stroke: #ffffffcb;
  stroke-width: 1px;
  fill: none;
  font-size: 43px;
  font-family: "Unica One", cursive;
  stroke-width: 2;
  fill: #ffffffcb;
}

.frame-landing {
  stroke-width: 4;
  stroke: #ff6e6ecb;
  fill: none;
  stroke-dashoffset: 0;
  stroke-dasharray: 100;
}

.name-landing {
  stroke: #ffffffcb;
  stroke-width: 1px;
  fill: none;
  font-size: 43px;
  font-family: "Unica One", cursive;
  stroke-dashoffset: 0;
  stroke-dasharray: 100;
}
