#frame {
  stroke-width: 4;
  stroke: #ff6e6ecb;
  fill: none;
  stroke-dashoffset: 0;
  stroke-dasharray: 100;
}

#name {
  stroke: #ffffffcb;
  stroke-width: 1px;
  fill: none;
  font-size: 40px;
  font-family: "Kaushan Script", cursive;
  stroke-dashoffset: 0;
  stroke-dasharray: 100;
}
