<svg width="200" height="70">
  <!-- <rect id="frame" width="200" height="70" /> -->
  <path id="frame" d="M100,0 200,0 200,35" stroke="red" stroke-width="5" />
  <path id="frame" d="M100,0 0,0 0,35" stroke="red" stroke-width="5" />
  <path id="frame" d="M100,70, 0,70 0,35" stroke="red" stroke-width="5" />
  <path id="frame" d="M100,70 200,70 200,35" stroke="red" stroke-width="5" />
  <text
    x="50%"
    y="50%"
    id="name"
    dominant-baseline="middle"
    text-anchor="middle"
  >
    Nefi Lopez
  </text>
</svg>
