// :host {
//   display: flex;
//   border: 1px solid black;
//   background: red;
//   height: 50px;
//   width: 50px;
// }
.navbarComponent {
  display: flex;
  // border: 5px solid black;
  // background: red;
  height: 150px;
  width: 100%;
  background: #1e1d2e;

  // padding: 5px 15px;
  & > div {
    padding: 5px 25px;
    display: flex;
    justify-items: center;
    align-items: center;
    & > * {
      padding: 0px 15px;
    }
  }
}

// .navbarComponent > * {
//   padding: 0 5px;
// }
