<div>
  <app-logo [mode]="'logo'"></app-logo>
  <!-- <div>NEFI</div>
  <div>NEFI</div>
  <div class="algo">NEFI</div> -->
</div>

<!-- <div>hasd</div> -->
<!-- <div
  style="
    height: 55px;
    width: 100%;
    box-shadow: -1px 8px 26px -4px rgba(0, 0, 0, 0.178);
  "
>
</div>

<div class="button__open" (click)="toggleNavbar()" *ngIf="navbarState === 0">
  <svg
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    class="feather feather-menu"
    id="svg8"
  >
    <line x1="3" y1="12" x2="21" y2="12" id="center" />
    <line x1="3" y1="6" x2="21" y2="6" id="top" />
    <line x1="3" y1="18" x2="21" y2="18" id="bottom" />
  </svg>
</div>
<nav id="navbar" style="transform: translateX(100%)" class="navbar__mobile">
  <span class="button__close" (click)="toggleNavbar()"
    ><img src="assets/images/icons/x.svg" alt=""
  /></span>
  <ul class="menu__list">
    <li>HOME</li>
    <li>PORTFOLIO</li>
    <li>CONTACT</li>
  </ul>
</nav> -->
